img {
  width: 300px;
  max-height: 250px;
  min-height: 250px;

}

#survey {

}

#submit-button-div {
  
}

#img-div {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.photos {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
